<!--indico la ruta al modelo con el que va a trabajar la vista con -->
@model ProyectoT4.Models.ResultadoBusqueda
@using Microsoft.AspNet.Identity

@{
    bool yaLoJugue = Model.yaLoJugue;
    bool wishList = Model.wishList;
    bool loTengo = Model.loTengo;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>


        /*Styles de el popup*/

        .modalDialog {
            position: fixed;
            font-family: Arial, Helvetica, sans-serif;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,0.8);
            z-index: 99999;
            opacity: 0;
            -webkit-transition: opacity 400ms ease-in;
            -moz-transition: opacity 400ms ease-in;
            transition: opacity 400ms ease-in;
            pointer-events: none;
        }

            .modalDialog:target {
                opacity: 1;
                pointer-events: auto;
            }

            .modalDialog > div {
                width: 400px;
                position: relative;
                margin: 10% auto;
                padding: 5px 20px 13px 20px;
                border-radius: 10px;
                background: #c6cc5c;
            }

        .close {
            background: #606061;
            color: #FFFFFF;
            line-height: 25px;
            position: absolute;
            right: -12px;
            text-align: center;
            top: -10px;
            width: 24px;
            text-decoration: none;
            font-weight: bold;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;
            -moz-box-shadow: 1px 1px 3px #000;
            -webkit-box-shadow: 1px 1px 3px #000;
            box-shadow: 1px 1px 3px #000;
        }

            .close:hover {
                background: #00d9ff;
            }
        /*Styles de el image align*/
        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 33.33%;
            padding: 5px;
        }

        /* Clearfix (clear floats) */
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
</head>

<body style="background-color:black;">
    <h2>Resultado de la busqueda:</h2>
    @{
            String mensaje = ViewBag.Mensaje;
            switch (mensaje)
            {
                case "vacia":             

                break;
            case "Propuesta Realizada y enviada OK":
                <script>
                    alert("Propuesta realizada y enviada!");
                </script>

                break;
            case "Propuesta Invalida":
                <script>
                    alert("Propuesta Invalida");
                </script>

                break;
            default:
                break;
        }
    }


    <font color="white">

        <div class="container">
            <div class="card">
                <div class="container-fliud">
                    <div class="wrapper row">
                        <div class="preview col-md-6">

                            <div class="preview-pic tab-content">
                                <div class="tab-pane active" id="pic-1"><img src="@Html.DisplayFor(modelitem => modelitem.JuegoBuscado.PathFoto)" /></div>
                            </div>
                        </div>
                        <div class="details col-md-6">
                            <h3 class="product-title">@Html.DisplayFor(modelitem => modelitem.JuegoBuscado.Titulo)</h3>
                            <div class="rating">
                                <div class="stars">
                                    Rating:
                                    @{
                                        if (Model != null)
                                        {
                                            for (int i = 0; i < Model.JuegoBuscado.Rating / 2; i++)
                                            {<span class="fa fa-star checked"></span>
                                            }

                                        }

                                    }
                                </div>
                            </div>
                            Audio:
                            <strong>
                                <span class="size" data-toggle="tooltip" title="Audio">@Html.DisplayFor(modelitem => modelitem.JuegoBuscado.Audio)</span>
                            </strong>
                            <BR>
                            Subitulos:<strong>
                                <span class="size" data-toggle="tooltip" title="Subtitulos">@Html.DisplayFor(modelitem => modelitem.JuegoBuscado.Subtitulos)</span>
                            </strong>
                            <BR>
                            Categoria:
                            <strong>
                                <span class="size" data-toggle="tooltip" title="categoria">@Html.DisplayFor(modelitem => modelitem.JuegoBuscado.Categoria)</span>
                            </strong>
                            <BR>
                            Plataforma:<strong>
                                <span class="size" data-toggle="tooltip" title="Subtitulos">@Html.DisplayFor(modelitem => modelitem.JuegoBuscado.Plataforma)</span>
                            </strong>
                            <br>
                            <br>
                            <div class="action">
                                @{//si esta en la lista de jugados, muestra otro boton
                                    if (wishList == false)
                                    {
                                        <button class="add-to-cart btn btn-default" onclick="location.href='@Url.Action("AgregaLista", "ResultadoBusqueda")?idJuego=@Model.JuegoBuscado.Id&idUsuario=@User.Identity.GetUserId()&tipo=w';" type="button">Lo quiero!</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-danger" onclick=EliminarDeWishList() type="button">Remover de Lo quiero!</button>
                                    }
                                }

                                <br>

                                @{
                                    if (loTengo == false)
                                    {
                                        <button class="add-to-cart btn btn-default" onclick="location.href='@Url.Action("AgregaLista", "ResultadoBusqueda")?idJuego=@Model.JuegoBuscado.Id&idUsuario=@User.Identity.GetUserId()&tipo=l';" type="button">Lo tengo para cambiar</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-danger" onclick=EliminarDeLibreria() type="button">Remover de Lo tengo para cambiar</button>
                                    }
                                }
                                <br>

                                @{ //si esta en la lista de jugados, muestra otro boton
                                    if (yaLoJugue == false)
                                    {
                                        <button class="add-to-cart btn btn-default" onclick="location.href='@Url.Action("AgregaLista", "ResultadoBusqueda")?idJuego=@Model.JuegoBuscado.Id&idUsuario=@User.Identity.GetUserId()&tipo=j';" type="button">Ya lo jugué</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-danger" onclick="location.href='@Url.Action("EliminarLista", "ResultadoBusqueda")?idJuego=@Model.JuegoBuscado.Id&idUsuario=@User.Identity.GetUserId()&tipo=j';" type="button">Remover de Ya lo jugué</button>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        @Html.Label("Juegos con match: " + @Model.JuegosMatch.Count)
        <br>
        <div class="row">

            @{
                foreach (var juego in Model.JuegosMatch)
                {
                    <div class="column" align="center">

                        @Html.Label("Titulo: " + juego.Titulo)
                        <br>
                        @Html.Label("Usuarios que lo quieren: " + juego.UsuariosMatch.Count())
                        <br>
                        <a href="?idJuego=@Model.JuegoBuscado.Id&idUsuario=@User.Identity.GetUserId()#@juego.IdJuego">
                            <img src="@juego.PathFoto" style="width:50%">
                        </a>
                        <br>
                        <a href=#@juego.IdJuego>Ver Opciones → @juego.Titulo</a>
                        <div id=@juego.IdJuego class="modalDialog" align="left">

                            <div>
                                <a href="#close" title="Cerrar" class="close">X</a>
                                <h2>@juego.Titulo</h2>
                                @{
                                    foreach (var user in juego.UsuariosMatch)
                                    {
                                        @Html.Label("Usuario: "); @user.mail
                                        <br>
                                        @Html.Label("Ubicacion: " + user.Ubicacion);
                                        <br>


                                        <button type="button" onclick="location.href='@Url.Action("AnalizarPropuesta", "Propuesta" )?idJuegoBuscado=@Model.JuegoBuscado.Id&IdjuegoOfrecido1=@juego.IdJuego&UsuarioEnvia=@User.Identity.GetUserId()&UsuarioRecibe=@user.IdUsuario'"; class="btn btn-primary">Analizar Propuesta</button> <br>



                                        <br>
                                    }
                                }
                            </div>
                            <br>
                        </div>
                    </div>
                }
            }

        </div>
    </font>
</body>
</html>



<script>
    function EliminarDeLibreria() {

        var r = confirm("Si elimina de la libreria, se borraran las propuestas en las que este involucrado el @Model.JuegoBuscado.Titulo");
        if (r == true) {
            window.location = '/ResultadoBusqueda/EliminarLista?idJuego=@Model.JuegoBuscado.Id&idUsuario=@User.Identity.GetUserId()&tipo=l';
        } else {

        }

    }
     function EliminarDeWishList() {

        var r = confirm("Si elimina de la WishList, se borraran las propuestas en las que este involucrado el @Model.JuegoBuscado.Titulo");
        if (r == true) {
            window.location = '/ResultadoBusqueda/EliminarLista?idJuego=@Model.JuegoBuscado.Id&idUsuario=@User.Identity.GetUserId()&tipo=w';
        } else {

        }

    }
</script>

<script>
    //tecla escape
    document.addEventListener("keypress", function (event) {
        if (event.keyCode == 27) {
            window.history.back();
        }
    })


    function MensajePropuesta(hola) {
        alert("sape")
        switch (hola) {
            case "null":
                alert("nuloooo")
                break;
            case n:
                alert("Vacio")
                break;
            default:
                alert("ERROR");
        }

    }

</script>