
<body style="background-color:black;">
</body>

<style>
    .ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        text-align: left;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
    }

        .ui-autocomplete > li > div {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333333;
            white-space: nowrap;
        }

    .ui-state-hover,
    .ui-state-active,
    .ui-state-focus {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
        cursor: pointer;
    }

    .ui-helper-hidden-accessible {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
</style>

<br>
<!--<h1>Insert Coin</h1>-->
<!--
En el tag del formulario "form" incluyo un metodo (method="get") que es el que voy a usar para transmitir la info por url y declaro un action,
    que indica cual es el metodo que voy a ejecutar cuando se use el boton submit del formulario.
    Es decir esto llama al controller Buscador y dentro del mismo el metodo Resultado y le manda
    el value del input que identifica a partir del "name"
-->
@using Microsoft.AspNet.Identity

@{
    if (@User.Identity.GetUserId() == null)
    {

        @Html.Label("Usuario Invitado")
    }
}
<form action="../ResultadoBusqueda/ResultadoBusqueda" method="get">
    <div class="container-fluid" align="center" >
        <div class="row">
            <img src="https://scontent.faep8-2.fna.fbcdn.net/v/t1.0-9/33477500_10156464788733033_5347624575788122112_n.jpg?_nc_cat=0&oh=e06c72ed91988b11634da5d4851d1d83&oe=5BC3C1EA" height="300" width="400">
        </div>
        <div class="row">
            <input type="text" name="id" autofocus class="form-control" id="tags" placeholder="Escriba el nombre del juego..." cols="50">
        </div>
        <div class="row">
            @{
        String usuario = User.Identity.GetUserId();
        if (usuario == null)
        {
            <input type="button" class="btn btn-primary" value="Buscar!" onclick=sinLogin($('#tags').attr['selec']) />
}
else
{
        <input type="button" class="btn btn-primary" value="Buscar!" onclick=antifalla($('#tags').attr['selec']) />

}
            }
            <br />
            <br />
            <br />
            <div class="row">
                <strong>¿No sabés que juego buscar? Mirá todos los juegos que están disponibles!</strong>
                <br />
                <br />
                <input type="button" class="btn btn-info" value="Ver todos" onclick="location.href='@Url.Action("TodosLosJuegos", "ResultadoBusqueda")?idUsuario=@User.Identity.GetUserId()'" />
                <br />
            </div>
        </div>
    </div>
</form>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<!--autocomplete-->
<script>
    $(function () {
        var availableTags = [
           @foreach (var item in @ViewBag.Lista)
           {
               <text > { label: "@item.Item2", value: "@item.Item1" },</text>

        }
        ];

        $("#tags").autocomplete({
            source: availableTags,
            select: function (event, ui) {
                var id = ui.item.value;
                var name = ui.item.label;
                $("#tags").val(name);
                $("#tags").attr["selec"] = id;
                return false;
            },

            focus: function (event, ui) {
                event.preventDefault();
                $("#tags").val(ui.item.label);
            }

        });
    });
</script>
<!--Llama a la funcione de abajo que verifica que el usuario no haya escrito cualquier cosa
    y si tiene un id valido, lo manda al resultado-->

<script>
    function antifalla(param) {
        if (param === undefined) {
            alert("¡Error! Por favor, ingrese un nombre existente");
        } else {
                window.location = '/ResultadoBusqueda/ResultadoBusqueda?idJuego=' + param + '&idUsuario=@User.Identity.GetUserId()&RealizarPropuesta_result=vacia';
            }
    }




</script>
<script>
    function sinLogin(param) {
        if (param === undefined) {
            alert("¡Error! Por favor, ingrese un nombre existente");
        } else {
            window.location = '/ResultadoSinLogin/ResultadoSinLogin?idJuego=' + param;

        }

    }
</script>

